body {
width:100%;
background-color:#3fd4c0;

}
#container{
    margin:0 auto;
    padding:10px 50px;
    

}
#content{
    margin:0 auto;
    padding:10px 50px  ;


}
.kutu{
    margin:0 auto;
    border:1px solid;
    padding:10px;
    width:70%;
   

}
.baslik {
    text-align: center;
    font-size: 30px;
    color: #961c1c;
}
.image img{
    width:200px;
    height:200px;
    border-radius:100%;

}
.image{
    display:inline-block;

}
.info{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    vertical-align:top;
    display:inline-block;
    margin-left:120px;
}
.govde{
    margin-top:40px;
    position:relative;

}
.bilgi{
    display:block;
}
#ozgecmis h3, #konular h3{
    font-size: 24px;
    color: navy;
}
#ozgecmis p, #konular li{
    font-size:20px;

}
#konular li{
    list-style:none;
    display:inline-block;
    margin-right:20px;
}
#ozgecmis{
    margin-top:30px;
}